.container {
  background-color: #555;
  color: #61dafb;
  border-radius: 7px;
  padding: 20px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

.error {
  color: red;
}


